body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
    margin: 0;
    width: 300px;
    height: auto;
    box-sizing: border-box;
}

#login-section,
#send-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Garante que todos os inputs tenham a mesma largura */
    max-width: 280px; /* Define um limite máximo */
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

    button:disabled {
        background-color: #ccc;
    }

#success-message {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

#loading-message {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-size: 12px;
    text-align: center;
}

a {
    color: #007bff;
    text-decoration: none;
}

#password-wrapper {
    display: flex;
    align-items: center;
    width: 100%; /* Garante que o wrapper ocupe o mesmo espaço do input */
    max-width: 280px; /* Define um limite máximo */
    gap: 10px; /* Espaçamento entre o campo e o botão */
    box-sizing: border-box;
}

#password-wrapper input {
    flex: 1; /* Garante que o input ocupe todo o espaço disponível */
}

#password-wrapper button {
    padding: 0;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-wrapper img {
    width: 20px;
    height: 20px;
}
